html, body {
    font-family: 'Khand', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#nav-bar-text:hover {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

li {
    display: inline-flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    align-content: center;
    text-transform: capitalize;
    display: flex;
}

.home-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .7em;
    color: #ffffff;
    margin-right: .5em;
}

.explore-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .8em;
    height: .8em;
    color: #ffffff;
    margin-right: .5em;
}

.getto-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .7em;
    height: .8em;
    color: #ffffff;
    margin-right: .5em;
}

.accom-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .7em;
    height: .8em;
    color: #ffffff;
    margin-right: .5em;
}

.act-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .6em;
    height: .8em;
    color: #ffffff;
    margin-right: .5em;
}

.rest-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .6em;
    height: 59px;
    color: #ffffff;
    margin-right: .5em;
}

.faq-icon {
    font-size: 32px;
    top: 1px;
    left: 376px;
    width: .7em;
    color: #ffffff;
    margin-right: .5em;
}

.contact-icon {
    font-size: 2em;
    top: 1px;
    left: 376px;
    width: .7em;
    color: #ffffff;
    margin-right: .5em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #818181;
    position: sticky !important;
    top: 0;
    z-index: 1000;
    height: 80px;
    transition: height 1s, background-color 1s;
    box-shadow: 3px 4px 8px rgba(3,3,3,0.4);
}

.scrolled {
    height: 60px;
    background-color: #030303;
}

input {
    font-family: 'Khand', sans-serif;
    width: 18em;
    letter-spacing: 2px;
    font-weight: 600;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;  /* Aligns content to the right */
    margin: 0;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-btn {
    padding: .6em;
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 1em;
    border-radius: 10px;

}

#btn-btn-search {
    width: auto;
    height: 35px;
}

.search-btn:hover {
    background-color: #818181;

}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0c0c0;
}

.food {
    font-weight: 300;
    letter-spacing: 18px;
    line-height: 62px;
    font-size: 2.5em;
    margin-left: 1em;
}

.image-container {
    background-color: #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    width: 812px;
    height: 509px;
    border-radius: 100em;
    background-image: url(../images/restaurants-header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3em;
}

.image-title {
    color: #030303;
    font-size: 87px;
    letter-spacing: 10px;
    line-height: 113px;
    font-weight: 300;
    margin-left: .4em;
    margin-bottom: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.image-sub-title {
    font-size: 32px;
    margin-top: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 36px;
    margin-left: 1.3em;
}

hr {
    border: none;
    border-top: 2px solid #818181;
    width: 28em;
}

.blog-container {
    margin-left: 2.8em;
}

h3 {
    font-weight: 300;
    letter-spacing: 3px;
}

.button-container {
    display: flex;
    align-items: center;
}

.btn-blog {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 40px;
    border: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #030303;
    color: white;
    font-size: 24px;
    font-family: 'Khand', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    outline: none;
}

.btn-blog:hover {
    cursor: pointer;
    background-color: #5a5a5a;
    letter-spacing: 3px;
}

#blog-info {
    margin-left: 2em;
}

.local-restaurants-container {
    max-width: 40ch;
    transform: scale(.94);
    animation: scale 3s forwards cubic-bezier(.5, 1, .89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.9s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}


.local {
    margin: 1em;
    color: #030303;
    font-size: 32px;
    font-family: "Khand";
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 36px;
    margin-bottom: 0;

}

.restaurants {
    margin: .3em;
    color: #030303;
    font-size: 96px;
    font-family: "Khand";
    font-weight: 300;
    letter-spacing: 18px;
    line-height: 80px;
    margin-top: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    display: flex;
    align-items: center;
    height: 460px;
    width: 100%;
    justify-content:  center;
}

.arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5em;
}

.carousel-images {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

#image1 {
    background-image: url(../images/restaurant-carousel/rest1.jpg);
}

#image2 {
    background-image: url(../images/restaurant-carousel/rest2.jpg);
}

#image3 {
    background-image: url(../images/restaurant-carousel/rest3.jpg);
}

#image4 {
    background-image: url(../images/restaurant-carousel/rest4.jpg);
}

#image5 {
    background-image: url(../images/restaurant-carousel/rest5.jpg);
}

#image1, #image2, #image3, #image4, #image5 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    margin: 1em;
    height: 380px;
    width: 200px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    margin-bottom: 0;
    padding-bottom: 0;
}

.img-large {width: 200px !important; height: 380px !important;}
.img-medium {width: 170px !important; height: 300px !important;}
.img-small {width: 100px !important; height: 200px !important;}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.btn-reserve {
    font-family: 'Khand', sans-serif;
    padding: 0px 8px;
    border: 0;
    border-radius: 25px;
    background-color: #030303;
    color: white;
    letter-spacing: 1px;
    height: 30px;
    font-size: 1em;
}


.btn-reserve:hover {
    cursor: pointer;
    background-color: #5a5a5a;
    transform: scale(1.1);
}


#btn-restaurant-search {
    background-color: #030303;
    color: white;
    font-family: 'Khand';
    padding: 0 8px;
    height: 20px;
    width: 80px;
    outline: none;
    border: 0;
}

#btn-restaurant-search:hover {
    cursor: pointer;
    background-color: #5a5a5a;
}

.restaurant-search-container {
    display: flex;
    align-items: center;
    margin: 2em;
    border-radius: 24px;
    margin-left: 0;
}


.btn-top-rest {
    margin: 2em;
    margin-left: 0;
    font-family: 'Khand';
    height: 40px;
    width: 100px;
    padding: 0 8px;
    border-radius: 20px;
    border: 1px solid #030303;
    font-size: 1em;
    outline: none;
}

.btn-top-rest:hover {
    cursor: pointer;
    background-color: #818181;
    color: white;
    box-shadow: 3px 4px 5px rgba(3,3,3,0.8);
}

.cat-checkboxes {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

/* Hide default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}


  /* Custom checkbox */
.custom-checkbox label {
    display: inline-block;
    width: 45px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    position: relative;
    cursor: pointer;
    margin: 3em;
    margin-left: 0;

}

  /* Checkmark for selected checkbox */
.custom-checkbox input[type="checkbox"]:checked + label::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 1;
}

.star-rating {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" fill="none" stroke="black"><path d="M12 2l3.09 9.26h9.82l-7.91 5.73l2.89 8.71l-7.9-5.77l-7.9 5.77l2.89-8.71l-7.91-5.73h9.82z"></path></svg>') no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin: .2em;
}

.star.active {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M12 2l3.09 9.26h9.82l-7.91 5.73l2.89 8.71l-7.9-5.77l-7.9 5.77l2.89-8.71l-7.91-5.73h9.82z"></path></svg>') no-repeat center;
    background-size: contain;
}

.recommend {
    display: flex;
    justify-content: space-between;
}

.tanitian-img {
    background-image: url(../images/tanitian.jpg);
}

.lagoon-img {
    background-image: url(../images/lagoon.jpg);
}

.palmier-img {
    background-image: url(../images/palmier.jpg);
}

.azure-img {
    background-image: url(../images/azure.jpg);
}

.tanitian-img, .lagoon-img , .palmier-img, .azure-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 185px;
    height: 125px;
    border-radius: 24px;
    overflow: hidden;
    transition: transform .3s ease;
}

.tanitian-img:hover,.lagoon-img:hover,.palmier-img:hover,.azure-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

h5 {
    margin-bottom: 0;
}

.bottom-container {
    margin-left: 3em;
    margin-bottom: 3em;
}

#lower-hr {
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 1px;
    color: #f0f0f0;
    opacity: 0.6;
}




.footer-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #d7d7d7;
}

.taniti-footer {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

h2, #footer-info {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#footer-list-items {
    color: black;
    list-style-type: none;
    text-align: right;
}

#footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer-links {
    color: black;
    text-align: right;
    margin-right: 1em;
}